---
permalink: /tags/
layout: layouts/home.njk
---
<ul class="tag-list all-tags">
{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <li><a href="{{ tagUrl | url }}" class="tag">{{ tag | replace("-", " ") }}</a></li>
{% endfor %}
</ul>
