<ul reversed class="postlist" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for post in postslist | reverse %}
  <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %} {% if post.data.classes %} {{post.data.classes}}{% endif %}">
    <a href="{{post.url}}">
      <img 
        srcset="/img/{{post.data.key}}.jpg?nf_resize=fit&w=360&h=360,
          /img/{{post.data.key}}.jpg?nf_resize=fit&w=480&h=480 1.5x,
          /img/{{post.data.key}}.jpg?nf_resize=fit&w=600&h=600 2x"
        src="/img/{{post.data.key}}.jpg?nf_resize=fit&w=360&h=360"
        alt="{{post.data.content}}"
        loading="lazy"
        width="320"
        height="320"
      />
    </a>
    <ul class="tag-list">
    {% for tag in post.data.tags %}
      {%- if collections.tagList.indexOf(tag) != -1 -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <li><a href="{{ tagUrl | url }}" class="tag">{{tag | replace("-", " ")}}</a></li>
      {%- endif -%}
    {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>
